<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>日志</title>
    <style type="text/css">
        pre {
            white-space: pre-wrap;
            word-break: break-all;
        }
        #status_bar{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #f5f5f5;
            font-family: monospace;
            border-top: 1px solid #968f8f;
        }
        li[class*="sys"]{
            list-style: initial;
            color: #a5a5a5;
        }
    </style>
</head>
<body>
    <pre id="fileData">
<ol id="list"></ol>
    </pre>
    <div id="status_bar">
        {{$F := .F}}
        {{$TN := .TN}}
        <div style="float: left;">当前日志文件: <label title="{{$F.Path}}">{{$F.Alias}}</label></div>
        <div style="float: right;">
            theme:
            <select id="theme" onchange="themeChg(this)">
                <option value="white">white</option>
                <option value="black">black</option>
            </select>
            &nbsp;&nbsp;tail option -n:
            <select id="tailOptionN" onchange="tailOptionNChg(this)">
                <option value="" {{if eq "" $TN}} disabled="disabled" selected {{end}}>默认</option>
                <option value="50" {{if eq "50" $TN}} disabled="disabled" selected {{end}}>50</option>
                <option value="100" {{if eq "100" $TN}} disabled="disabled" selected {{end}}>100</option>
                <option value="200" {{if eq "200" $TN}} disabled="disabled" selected {{end}}>200</option>
                <option value="500" {{if eq "500" $TN}} disabled="disabled" selected {{end}}>500</option>
            </select>
            &nbsp;&nbsp;显示最大行数:
            <select id="maxLines" onchange="maxLinesChg(this)">
                <option value="500">500</option>
                <option value="1000">1000</option>
                <option value="2000">2000</option>
            </select>
            &nbsp;&nbsp;切换日志文件: 
            <select onchange="logfilechg(this)">
                {{ range $k, $v := .FS }}
                    <option value="{{$v.PathMd5}}" {{if eq $v.PathMd5 $F.PathMd5}} disabled="disabled" selected {{end}}>
                        {{$v.Alias}}
                    </option>
                {{ end }}
              </select>
        </div>
    </div>
    
    <script type="text/javascript">
        // 获取url中的参数
        function urlParam(name) {
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = decodeURI(window.location.search).substr(1).match(reg);
            if(r){
                return decodeURIComponent(r[2]);
            } 
            return undefined;
        };
        var host = window.location.hostname;
        var port = window.location.port;
        var urlParam = {
            md5: urlParam("md5"),
            n: urlParam("n"),
        };
        // 切换url
        function reload(){
            var url = "/log";
            var md5 = urlParam.md5;
            var n = urlParam.n;
            if(md5){
                url = url + "?md5="+md5 +(n?("&n="+n):"");
            }else if(n){
                url = url + "?n="+n;
            }
            window.location.href = url;
        }
        // 切换日志文件
        function logfilechg(t){
            // window.location.href = "/log?md5="+t.value;
            urlParam.md5 = t.value;
            reload();
        }
        // 页面是否自动滚动标志
        var autoScroll = true;
        var data = document.getElementById("fileData");
        var ol = document.getElementById("list");
        // 主题
        var localStorageThemeKey = "wt_theme";
        document.getElementById("theme").value = localStorage.getItem(localStorageThemeKey)||"white";
        // 清空过早的日志
        var localStorageKey = "wt_max_lines";
        var logLinesCount = 0;
        var logLinesMax = ((localStorage.getItem(localStorageKey)||0)-0)||500;
        document.getElementById("maxLines").value = logLinesMax;

        function clearEarlyLog(){
            if(logLinesCount > logLinesMax){
                var fli = document.querySelector("li:first-child");
                fli.parentNode.removeChild(fli);
                logLinesCount--;
            }
        }
        // 修改tail的option -n参数
        function tailOptionNChg(t){
            urlParam.n = t.value;
            reload();
        }
        // 修改主题
        function themeChg(t){
            var v = t.value;
            var cacheTheme = localStorage.getItem(localStorageThemeKey);
            if(cacheTheme == v){
                return;
            }
            if(v == "black"){
                document.getElementsByTagName("html")[0].style.filter="invert(1)";
                document.getElementsByTagName("body")[0].style.backgroundColor="#000000";
            }else if(v == "white"){
                document.getElementsByTagName("html")[0].style.filter="invert(0)";
                document.getElementsByTagName("body")[0].style.backgroundColor="#ffffff";
            }
        }
        // 修改页面显示最大行数
        function maxLinesChg(t){
            var v = t.value-0;
            // 当调整后的最大行数小于当前最大行数时清屏
            if( v < logLinesMax){
                ol.innerHTML = "";
                logLinesCount = 0;
                genSysMsg("清空屏幕");
            }
            logLinesMax = v;
            localStorage.setItem(localStorageKey, v);
        }
        // 输出日志
        function append(data){
            if(data){
                var li = document.createElement('li');
                li.className = data.kind||"";
                li.textContent = data.msg||data;
                ol.appendChild(li);

                logLinesCount++;
                // 清空早期日志
                clearEarlyLog();
            }
        }
        // autoScroll为true时将页面滚动到底部
        function scrollToBottom(){
            if(autoScroll){
                var h = document.body.clientHeight;
                // window.scroll({top:h,left:0,behavior:'smooth'});
                window.scroll({top:h,left:0});
            }
        }
        // 监听页面滚动事件
        // 当页面位于最底部时将autoScroll设置为true，使页面可自动滚动至日志最新位置
        // 当页面没有位于最底部时将autoScroll设置为false，方便手动上下翻滚页面查看日志
        window.onscroll = function(){
            // 滚动条在Y轴上的滚动距离
            var scrollTop = 0, bodyScrollTop = 0, documentScrollTop = 0;
            // 文档的总高度
            var scrollHeight = 0, bodyScrollHeight = 0, documentScrollHeight = 0;

        　　 if(document.body){
                bodyScrollTop = document.body.scrollTop;
                bodyScrollHeight = document.body.scrollHeight;
            }
            if(document.documentElement){
                documentScrollTop = document.documentElement.scrollTop;
                documentScrollHeight = document.documentElement.scrollHeight;
            }
            scrollTop = (bodyScrollTop - documentScrollTop > 0) ? bodyScrollTop : documentScrollTop;
            scrollHeight = (bodyScrollHeight - documentScrollHeight > 0) ? bodyScrollHeight : documentScrollHeight;
            
            // 浏览器视口的高度
            var windowHeight = 0;
            if(document.compatMode == "CSS1Compat"){
                windowHeight = document.documentElement.clientHeight;
            }else{
                windowHeight = document.body.clientHeight;
            }
            if(scrollTop + windowHeight == scrollHeight){
                autoScroll = true;
            }else{
                autoScroll = false;
            }
        };
        // 创建websocket 系统json消息
        function genSysMsg(msg){
            return {msg: msg, kind: "sys"};
        }
        // 创建websocket连接
        var conn = new WebSocket("ws://" + host + (port ? (":" + port) : "") + "/ws"+window.location.search);
        // 连接打开事件
        conn.onopen = function () {
            console.log("Socket 已打开");
            conn.send("测试消息");
        };
        conn.onclose = function (evt) {
            append(genSysMsg("连接已关闭"));
        }
        conn.onmessage = function (evt) {
            append(eval("("+evt.data+")"));
            scrollToBottom();
        }
        // 发生了错误事件
        conn.onerror = function () {
            alert("Socket发生了错误");
        }
        // 窗口关闭时，关闭连接
        window.unload = function () {
            console.log("关闭ws");
            conn.close();
        };
        // 按ESC键时退出日志查看
        document.onkeydown = function (event) {
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if (e && e.keyCode == 27 && conn.readyState == conn.OPEN) {
                console.log("按下ESC键");
                conn.send("^C");
                append(genSysMsg("已退出日志查看"));
            }
        }
    </script>
</body>

</html>